#stageMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stageSlider {
  width: 50%;
}

#stageLabel {
  font-size: 20px;
}

.thumb {
  display: none;
}

.nationcard .card-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
