#stageMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: WHITE;
}

#stageSlider {
    width: 50%;
}

#stageLabel {
    font-size: 20px;
}

.thumb {
    display: none;
}

#tournamentBracketsEl {
/*    display: table;*/
    width: 1550px;
    height: 1106px;
}

.nationcard .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ro16,
.quarter,
.semi,
.final {
/*    display: table-cell;*/
    width: 300px;
    float: left;
}

.ro16 {
    margin-left: 50px;
}

.quarter,
.semi,
.final {
    position: relative;
    margin-left: 100px;
}

.quarter {
    top: 78px;
    height: 1028px;
}

.semi {
    top: 215px;
    height: 891px;
}

.final {
    top: 479px;
    height: 627px;
}

.quarter .match {
    margin: 0px 0px 147px 0px;    
}

.semi .match {
    margin: 0px 0px 421px 0px;
}

.final .match {
    margin: 0px;
}

.match {
    width: 300px;
    height: 127px;
    border-style: solid;
    margin: 10px 0px 10px 0px;
}

.team1,
.team2 {
    background-color: #f6f6f6;
}

.team1 {
    border: solid;
    border-width: 0px 0px 1px 0px;
}

.team2 {
    border: solid;
    border-width: 1px 0px 0px 0px;
}

.img {
    width: 40px;
    height: 30px;
    padding: 5px 10px 0px 10px;
}

.country {
    
}

.goals {
    font-size: 20px;
    text-align: center;
    border-style: dashed;
    border-width: 0px 0px 0px 2px;
}

.team1>.goals {}

.team2>.goals {}
