<script type="text/x-underscore" id="resultList">
    <% _.each(groupNames, function(group, key1){
    %>
        <div class="row group" id="group-<%= group %>">
            <svg class="paths row-<%= key1 %>" width="100%" height="100%"></svg>
            <svg class="paths row2-<%= key1 %>" id="paths-<%= group %>" width="100%" height="100%"></svg>
            <svg class="paths row3-<%= group %>" width="100%" height="100%"></svg>
          <div class="col s2">
            <% if(games!==null){ %><h3>Results</h3>
            <div class="row result-row">
                <div class="col s12">
                    <% _.each(games[key1], function(groupGames, key2){
                    %>
                    <div class="result">
                        <div><%= groupGames.result %></div>
                    </div>
                    <%
                    });
                    %>
                </div>
            </div>
            <% } %>
          </div>
          <div class="col s2 push-s3">
                <h3>Group <%= group %></h3>
                <% _.each(nations[key1], function(nation, key2, list2) {
                %>
                <div class="row nation-row">
                    <div class="col s12" id="<%= group %>">
                        <div class="card nationcard" id="<%= ids[key1][key2] %>">
                            <div class="card-content">
                                <img class="nationflag" src="<%= flagsUrlBase %><%= abbrs[key1][key2] %>.svg" alt="<%= nation %>" width="64" height="48" id="<%= group %>">
                                <span id="<%= group %>"><%= nation %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <%
                  });
                %>
            </div>
            <div class="col s3 push-s4" id="<%= group %>">
                <h3>Calculated Result</h3>
                <% _.each(games[key1], function(groupGames, key2){
                 %>
                    <div class="calcResult hidden">
                        <div class="calculated" id="cR<%= key2 %>-<%= group %>"></div>
                    </div>
                <%
                });
                %>
                <div class="circle one">1</div>
                <div class="circle two">2</div>
                <div class="circle x">X</div>
            </div>
        </div>
    <%
      });
    %>
</script>

<div id="resultEl"></div>
