<script type="text/x-underscore" id="ro16Template">

    <div class="ro16 col s2">

        <% _.each(matches, function(match,id) {%>
            <div class="match" id="r<%=id+1%>">
                <table>
                    <tr class="team team1" id="<%=match.game[0]%>">
                        <td class="img">
                            <% if(match.game[0] != "TBD") {%>
                                <img src="<%=flagsUrlBase%><%=match.game[0]%>.svg" alt="<%=dictionary[match.game[0]]%>" width="40" height="30">
                                <%};%>
                        </td>
                        <td class="country">
                            <span>
                            <% if(match.game[0] != "TBD") {%>
                                <%=dictionary[match.game[0]]%>
                            <%}
                            else {%>
                                <%=match.game[0]%>
                            <%}%>
                            </span>
                        </td>
                        <td class="goals">
                            <span><%= typeof(match.result[0])!== 'undefined' ?  match.result[0] : '-' %></span>
                        </td>
                    </tr>
                    <tr class="team team2" id="<%=match.game[1]%>">
                        <td class="img">
                            <% if(match.game[1] != "TBD") {%>
                                <img src="<%=flagsUrlBase%><%=match.game[1]%>.svg" alt="<%=dictionary[match.game[1]]%>" width="40" height="30">
                                <%};%>
                        </td>
                        <td class="country">
                            <span>
                            <% if(match.game[1] != "TBD") {%>
                                <%=dictionary[match.game[1]]%>
                            <%}
                            else {%>
                                <%=match.game[1]%>
                            <%}%>
                            </span>
                        </td>
                        <td class="goals">
                            <span><%= typeof(match.result[1])!== 'undefined' ?  match.result[1] : '-' %></span>
                        </td>
                    </tr>
                </table>
            </div>

            <%});%>
    </div>
</script>

<script type="text/x-underscore" id="quarterTemplate">

    <div class="quarter col s2 offset-s1">

        <% _.each(matches, function(match,id) {%>
            <div class="match" id="q<%=id+1%>">
                <table>
                    <tr class="team team1" id="<%=match.game[0]%>">
                        <td class="img">
                            <% if(match.game[0] != "TBD") {%>
                                <img src="<%=flagsUrlBase%><%=match.game[0]%>.svg" alt="<%=dictionary[match.game[0]]%>" width="40" height="30">
                                <%};%>
                        </td>
                        <td class="country">
                            <span>
                            <% if(match.game[0] != "TBD") {%>
                                <%=dictionary[match.game[0]]%>
                            <%}
                            else {%>
                                <%=match.game[0]%>
                            <%}%>
                            </span>
                        </td>
                        <td class="goals">
                            <span><%= typeof(match.result[0])!== 'undefined' ?  match.result[0] : '-' %></span>
                        </td>
                    </tr>
                    <tr class="team team2" id="<%=match.game[1]%>">
                        <td class="img">
                            <% if(match.game[1] != "TBD") {%>
                                <img src="<%=flagsUrlBase%><%=match.game[1]%>.svg" alt="<%=dictionary[match.game[1]]%>" width="40" height="30">
                                <%};%>
                        </td>
                        <td class="country">
                            <span>
                            <% if(match.game[1] != "TBD") {%>
                                <%=dictionary[match.game[1]]%>
                            <%}
                            else {%>
                                <%=match.game[1]%>
                            <%}%>
                            </span>
                        </td>
                        <td class="goals">
                            <span><%= typeof(match.result[1])!== 'undefined' ?  match.result[1] : '-' %></span>
                        </td>
                    </tr>
                </table>
            </div>
            <%});%>
    </div>
</script>

<script type="text/x-underscore" id="semiTemplate">

    <div class="semi col s2 offset-s1">

        <% _.each(matches, function(match,id) {%>
            <div class="match" id="s<%=id+1%>">
                <table>
                    <tr class="team team1" id="<%=match.game[0]%>">
                        <td class="img">
                            <% if(match.game[0] != "TBD") {%>
                                <img src="<%=flagsUrlBase%><%=match.game[0]%>.svg" alt="<%=dictionary[match.game[0]]%>" width="40" height="30">
                                <%};%>
                        </td>
                        <td class="country">
                            <span>
                            <% if(match.game[0] != "TBD") {%>
                                <%=dictionary[match.game[0]]%>
                            <%}
                            else {%>
                                <%=match.game[0]%>
                            <%}%>
                            </span>
                        </td>
                        <td class="goals">
                            <span><%= typeof(match.result[0])!== 'undefined' ?  match.result[0] : '-' %></span>
                        </td>
                    </tr>
                    <tr class="team team2" id="<%=match.game[1]%>">
                        <td class="img">
                            <% if(match.game[1] != "TBD") {%>
                                <img src="<%=flagsUrlBase%><%=match.game[1]%>.svg" alt="<%=dictionary[match.game[1]]%>" width="40" height="30">
                                <%};%>
                        </td>
                        <td class="country">
                            <span>
                            <% if(match.game[1] != "TBD") {%>
                                <%=dictionary[match.game[1]]%>
                            <%}
                            else {%>
                                <%=match.game[1]%>
                            <%}%>
                            </span>
                        </td>
                        <td class="goals">
                            <span><%= typeof(match.result[1])!== 'undefined' ?  match.result[1] : '-' %></span>
                        </td>
                    </tr>
                </table>
            </div>
            <%});%>
    </div>
</script>

<script type="text/x-underscore" id="finalTemplate">

    <div class="final col s2 offset-s1">

        <% _.each(matches, function(match,id) {%>
            <div class="match" id="f<%=id+1%>">
                <table>
                    <tr class="team team1" id="<%=match.game[0]%>">
                        <td class="img">
                            <% if(match.game[0] != "TBD") {%>
                                <img src="<%=flagsUrlBase%><%=match.game[0]%>.svg" alt="<%=dictionary[match.game[0]]%>" width="40" height="30">
                                <%};%>
                        </td>
                        <td class="country">
                            <span>
                            <% if(match.game[0] != "TBD") {%>
                                <%=dictionary[match.game[0]]%>
                            <%}
                            else {%>
                                <%=match.game[0]%>
                            <%}%>
                            </span>
                        </td>
                        <td class="goals">
                            <span><%= typeof(match.result[0])!== 'undefined' ?  match.result[0] : '-' %></span>
                        </td>
                    </tr>
                    <tr class="team team2" id="<%=match.game[1]%>">
                        <td class="img">
                            <% if(match.game[1] != "TBD") {%>
                                <img src="<%=flagsUrlBase%><%=match.game[1]%>.svg" alt="<%=dictionary[match.game[1]]%>" width="40" height="30">
                                <%};%>
                        </td>
                        <td class="country">
                            <span>
                            <% if(match.game[1] != "TBD") {%>
                                <%=dictionary[match.game[1]]%>
                            <%}
                            else {%>
                                <%=match.game[1]%>
                            <%}%>
                            </span>
                        </td>
                        <td class="goals">
                            <span><%= typeof(match.result[1])!== 'undefined' ?  match.result[1] : '-' %></span>
                        </td>
                    </tr>
                </table>
            </div>
            <%});%>
    </div>
</script>
<div id="tournamentBracketsPreKo" class="hidden row"></div>
<div id="tournamentBracketsPreQuarter" class="hidden row"></div>
<div id="tournamentBracketsPreSemi" class="hidden row"></div>
<div id="tournamentBracketsPreFinal" class="hidden row"></div>
<div id="tournamentBracketsWinner" class="hidden row"></div>
