<script type="text/x-underscore" id="groups-list">
  <% _.each(groupNames, function(group, key1, list1) {

  %>
    <div class="row group-row container" id="<%= group %>-row">
      <svg class="paths" id="paths-<%= group %>" width="100%" height="100%"></svg>
      <div class="col s12">
      <div class="row group-header">
        <div class="col s2 group-heading"><h3>Group <%= group %></h3></div>
        <div class="col s10 stagesrow">
          <div class="col s2 round"><h5>Sixteen</h5></div>
          <div class="col s2 round"><h5>Win Group</h5></div>
          <div class="col s2 round"><h5>Quarter</h5></div>
          <div class="col s2 round"><h5>Semi</h5></div>
          <div class="col s2 round"><h5>Final</h5></div>
          <div class="col s2 round"><h5>Win</h5></div>
          <div class="col s4 push-s4 hidden" id="<%= group %>-matchcol">
            <h4>Calculated Result</h4>
          </div>
        </div>
      </div>
      <div class="col s10 offset-s2 matchcol hidden" id="<%= group %>-matchcol">
      <% for(var i = 0; i < 2; i++) {
      %>
        <div class="col s2 offset-s5">
          <div class="resultcard" id="resultcard-<%= i %>">
            <div class="card-content">
              <span id="goals"></span>
            </div>
          </div>
        </div>
      <%
        }
      %>
      </div>
        <% _.each(nations[key1], function(nation, key2, list2) {

        %>
          <div class="row nationrow" id="<%= nations[key1][key2] %>">
            <div class="col s2 nationcard-col" id="<%= group %>">
              <div class="card nationcard" id="<%= ids[key1][key2] %>">
                <div class="card-content">
                  <img class="nationflag" id="<%= group %>" src="<%= flagsUrlBase %><%= abbrs[key1][key2] %>.svg" alt="<%= nation %>" width="56" height="40" group="<%= group %>">
                  <span id="<%= group %>"><%= nation %></span>
                </div>
              </div>
            </div>
            <div class="col s10 predictionrow"></div>
            <div class="col s10 fillrow hidden"></div>
          </div>
        <%
          });
        %>
    </div>
    </div>
    <div class="divider"></div>
  </div>
  <%
    });
  %>
</script>

<div id="groups-list-el"></div>
